.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    font-family: 'poppins' sans-serif;
}

.content {
    flex: 1; 
    /* //takes all space between nav and footer */
}
